body {
    margin: 0;
    padding: 0;
    font-family: 'Gluten', cursive;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.6;
}

img {
    max-width: 100%;
    display: block;
}

.image-full {
    max-height: 300px;
    object-fit: cover;
    width: 100%;
    margin-bottom: 2em;
}

h1, h2, h3 {
    font-weight: 400;
    color: rgb(8, 88, 8);
    margin-top: 0;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

h3 {
    color: rgb(6, 168, 6);
}

strong {
    font-weight: 700;
}

.subtitle {
    font-weight: 700;
    color: rgb(6, 168, 6);
    font-size: .75rem;
    margin: 0;
    text-transform: uppercase;
}

.article-title {
    font-size: 1.5rem;
}

.article-read-more, .article-info {
    font-size: .85rem;
}

.article-read-more {
    color: rgb(6, 168, 6);
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.article-read-more:hover,
.article-read-more:focus {
    color: rgb(8, 88, 8);
    text-decoration: underline;
}

.article-body-link {
    color: rgb(6, 168, 6);
}

.article-body-link:hover,
.article-body-link:focus {
    color: rgb(8, 88, 8);
}

.article-info {
    margin: 2em 0;
}

.widget-title,
.widget-recent-post {
    font-size: 1rem;
    line-height: 1.4;
}

.widget-title {
    font-weight: 700;
    letter-spacing: 1.5px;
}

.widget-recent-post {
    display: flex;
    flex-direction: column;
    border-bottom: darkgreen solid 1px;
    margin-bottom: 1em;
}

.widget-recent-post:last-child {
    border: 0;
    margin: 0;
}

.widget-recent-post-title {
    order: 2;
}

.widget-recent-post-title {
    color: rgb(8, 88, 8);
}

.widget-image {
    order: 1;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

header {
    background-color: darkkhaki;
    padding: 2em 0;
    text-align: center;
    margin-bottom: 3em;
}

footer {
    background-color: rgb(8, 88, 8);
    color: darkkhaki;
    text-align: center;
    padding: 3em 0;
}

@media (min-width: 675px) {
    .container-flex {
        flex-direction: row;
    }

    main {
        width: 70%;
    }

    aside {
        width: 25%;
        min-width: 200px;
        margin-left: 1em;
    }
}

main {
    width: 75%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav li {
    margin-left: 2em;
}

nav a {
    text-decoration: none;
    color: rgb(6, 168, 6);
    font-weight: 700;
    padding: .25em 0;
}

nav a:hover,
nav a:focus {
    color: rgb(8, 88, 8);
}

.nav_list {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.current-page {
    border-bottom: 1px solid darkkhaki;
}

.current-page:hover {
    color: rgb(8, 88, 8)
}

@media (max-width: 675px) {
    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: .5em 0;
    }

}

.article-featured {
    border-bottom: darkkhaki 1px solid;
    padding: 2em;
    margin-bottom: 2em;
}

.article-recent-main {
    order: 2;
}

.article-recent-secondary {
    order: 1;
}

@media (min-width: 675px) {
    .article-recent {
        flex-direction: row;
        justify-content: space-between;
    }

    .article-recent-main {
        width: 68%;
    }

    .article-recent-secondary {
        width: 30%;
    }
    
    .article-featured {
        display: flex;
        flex-direction: column;
    }

    .article-image {
        order: -2;
        min-height: 250px;
        object-fit: cover;
    }

    .article-info {
        order: -1;
    }
}

.sidebar-widget {
    border: 20px solid #efefef;
    margin-bottom: 2em;
    padding: 1em;
}